body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #F8C500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 50px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    column-gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

#check {
    width: 13px;
    height: 13px;
}

h1{
    text-align: center;
}

.description{
    text-align: justify;
    max-width: 600px;
}

.details{
    max-width: 500px;
    text-align: justify;
}

footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    row-gap: 30px;
    color: white;
}

footer p {
    margin: 0;
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 20%;
}

.warning {
	color: darkgrey;
}

#copyright {
    width: 30%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 20px;
}